<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <a href="/"><img src="/img/logo-DH.png" alt="Logo Digital House" ></a>
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <a href="/movies">Listado de Películas</a>
    <br>
    <a href="/movies/new">Ultimos estrenos</a>
    <br>
    <a href="/movies/recommended">Recomendadas</a>
  </body>
</html>
